{
            "ansible.ansible.reuseTerminal": true,
            "ansible.python.interpreterPath": "/home/{{ vs_code_setup_v_username }}/.local/share/pipx/venvs/ansible-dev-tools/bin/python3",
            "ansible.ansibleNavigator.path": "/home/{{ vs_code_setup_v_username }}/.local/share/pipx/venvs/ansible-dev-tools/bin/ansible-navigator",
            "ansible.validation.lint.path": "/home/{{ vs_code_setup_v_username }}/.local/share/pipx/venvs/ansible-dev-tools/bin/ansible-lint",
            "ansible.linting.enabled": true,
            "files.associations": {
                    "**/*.yml": "ansible",
                    "**/*.yaml": "ansible"
            }
        }